<%- include('partials/appHeader') -%>


<div>
    <h1 class="text-6xl mr-5"><%= mealPlan.name %></h1>
</div>
<ul>
    <% for(let i = 0; i<lunches.length; i++) {%>
        <li><%= lunches[i][1].name%></li>
    <% } %>
</ul>

<ul>
    <% for(let i = 0; i<dinners.length; i++) {%>
        <li><%= dinners[i][1].name%></li>
    <% } %>
</ul>




<%- include('partials/footer') -%>